
<script type='text/javascript'>
$(function() {
      Dashing.widget_base_dimensions = [370, 340]
        Dashing.numColumns = 5
        });
</script>

<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="myBurndown" data-view="JiraBurndown"></div>
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="JOB" data-view="JenkinsBuild" data-title="build" data-description="" data-min="0" data-max="100" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="JOB" data-view="JenkinsBuild" data-title="full-build" data-description="" data-min="0" data-max="100" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="JOB" data-view="JenkinsBuild" data-title="github-build" data-description="" data-min="0" data-max="100" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="JOB" data-view="JenkinsBuild" data-title="github-full" data-description="full" data-min="0" data-max="100" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="smp_TCUK" data-view="Smp" data-market="TCUK" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="smp_TCBE" data-view="Smp" data-market="TCBE" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="smp_NECBE" data-view="Smp" data-market="NECBE" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="smp_VUNL" data-view="Smp" data-market="VUNL" />
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="smp_NECNL" data-view="Smp" data-market="TCBE" />
      </li>
  </ul>
</div>
