$background-color:  #1AA11A;

.widget-smp {
  background-color: $background-color;
  font-size: 100px;
}
//.status-green {
//  background-color: #1AA11A;
//}
.status-orange {
  background-color: #FFA500;
}
.status-green {
  background-color: #F03030;
}
